@import "tailwindcss";

@theme {
  --color-brand: rgba(34, 130, 204, 1);        
  --color-text-secondary: rgba(76, 70, 70, 1);     
  --color-bg-accent: rgba(24, 100, 159, 0.27); 
  --color-vs-dark: rgba(37,37,38); 
}